.posts-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10vh;
    margin: auto;
    justify-content: space-around;
    width: 80vh;
}

.post {
    flex-basis: 30%;
    row-gap: 2vh;
    padding: 2vw;
    display: flex;
    text-align: center;
    flex-direction: column;
    border: 3px solid black;
    border-radius: 5px;
}